<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>772956783971-6eljjtlgd9isfcibu5lkfdt67m17ou6v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.772956783971-6eljjtlgd9isfcibu5lkfdt67m17ou6v</string>
	<key>API_KEY</key>
	<string>AIzaSyAcjz7cDvySfUoMW0G0woqEHrWhRD0DMDk</string>
	<key>GCM_SENDER_ID</key>
	<string>772956783971</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>info.SnapChatCloneWithFirebase</string>
	<key>PROJECT_ID</key>
	<string>myproject-ab71e</string>
	<key>STORAGE_BUCKET</key>
	<string>myproject-ab71e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:772956783971:ios:cc30e5f0d29d42b0b8ff56</string>
	<key>DATABASE_URL</key>
	<string>https://myproject-ab71e-default-rtdb.firebaseio.com</string>
</dict>
</plist>